@charset 'UTF-8';
/*Fonte PASSION ONE */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Passion+One:wght@400;700;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Sriracha */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Passion+One:wght@400;700;900&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --font-passion: "Passion One", sans-serif;
    --font-sriracha: "Sriracha", cursive;
}
* {
    margin: 0;
    padding: 0;
}
