@charset 'UTF-8';
/*Fonte PASSION ONE */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Passion+One:wght@400;700;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Sriracha */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Passion+One:wght@400;700;900&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --font-passion: "Passion One", sans-serif;
    --font-sriracha: "Sriracha", cursive;
}
* {
    margin: 0;
    padding: 0;
}
header {
    height: 200px;
    padding: 30px;
    background-color: black;
    position: relative;
    text-align: center;
    color: white;
}
header h1 {
    font-family: var(--font-passion);
    font-size: 8em;
    padding-top: 30px ;
}
header a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 1.2em;
}
header a:hover {
    text-decoration: underline;
    color: white;
}
section {
    height: 100vh;
    margin-bottom: 50px;
}
section p {
    white-space: pre;
    font-family: var(--font-sriracha);
    font-size: 3em;
}
section.photo {
    background-image: url('../imagens/background001.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section.photo p{
    color: white; 
}
section.photo2 p{
    color: white; 
}
section.photo2 {
    background-image: url('../imagens/background002.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
footer {
    background-color: black;
    padding: 5px;
}
footer p {
    color: white;
    text-align: center;
    font-size: 1.2em;
}
footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover {
    text-decoration: underline;
}
